/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:Arial, Helvetica, sans-serif ;
}
//vị trí 
//kích thước
//kiểu chử màu sác
#main{

}
.clear{
    clear: both;
}
#heade{
height: 46px;
background-color: black;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;

#nav{
    display: inline-block;
      >li{
            display: inline-block;
            position: relative;
            a{
                text-decoration: none;
                color: white;
                padding: 10px;
                line-height: 46px;
                padding: 0 24px;
                text-transform: uppercase;
                display: inline-block;
               
            }
            
        }
        >li:hover >a  {
            background-color: #ccc!important;
            color:black;
        }
    
    .subnav{
        position: absolute;
        background-color: white;
        list-style: none;
        display: none;
        box-shadow: -1px 2px rgb(228, 222, 222);
        li{
           
           
            
            a{
                color: black;
                display: block;
                text-transform: initial;
                
                
            }
        
        }
       
        li:hover>a{
            background-color: #ccc!important;
            color:black;
            
        } 
    }
    li:hover .subnav{
        display: block !important;
    }
}
.search{
    float: right;
    line-height: 46px;
    display: block;
    padding: 0 21px;
    cursor: pointer;
    i{
        color: white;
        
       
    }
}
.search:hover{
    background-color: #f44336;
}
.nav-mobile{
    display: none;
}
}
#silder{
 
    width: 100%;
    height: 100%;
    .mysilde{
        position: relative;
       img{
       
        width: 100%;
        height: 100%;
        padding: 45px 0;
        
       }
    }
    .content{
        position: absolute;
        color:white;
        bottom: 50px;
        padding: 20px;
        left: 40%;
        text-align: center;
        h1{
            padding: 20px 0;
        }
    }
}

#content
{

margin-top: -50px;
.section-content{
    width: 800px;
    
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 0;
    padding: 64px 16px;
    .section-heading{
        text-align: center;
        margin: 10px 0;
        letter-spacing: 4px;
        font-weight: unset;
    }
    .section-dection{
        text-align: center;
        font-style: italic;
        opacity: 0.6;
    }
    .text-content{
        margin: 15px 0;
        text-align: justify;
        line-height:25px
    }
    .merber-list{
        padding: 32px 0;
        
        margin-top: 50px;
        .merber-item
        {   text-align: center;
            float: left;
            width: 33.3333%;
            height: 156px;
            
        
            img{
                width: 154px;
                height: 100%;
                border-radius: 5px;
                
            }
            
        }
        .merber-item:hover{
            
                transform: scale(1.2,1.2);
            
        }
    }
}
.mt{
    background-color: #000;
    width: 100%;
    .section-heading{
        color:white;
    }
    .section-dection{
        color: white;
    }
    .calendar{
        width: 784px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
        margin-top: 30px;
        
        // box-shadow: 1px 1px rgb(228, 222, 222);
        ul{
           
            li{
                color: black;
                border: 0.5px solid rgb(196, 190, 190);
                padding: 8px 16px;
                opacity: 0.9;
                span{
                    background-color: #f44336;
                    padding: 4px 8px;
                    margin: 0 20px;
                    color: white;
                }
            
                
            }
            li:nth-child(3) span{
                color: white;
                border-radius: 20px;
                background-color: #000;
                margin: 0 60px;
            }
        }
    }

}
.info-tour{
    width: 800px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0px;
    
    display: flex;
    .tuor-item{
        
        width: calc(100%/3);
        padding: 0 8px;
        img{
            width:100%
        }
        .tuor-content{
            background-color: white !important;
            padding: 16px;
            h1{
                font-size: 15px;
                color: black;
                padding: 16px 0;
               
            }
            p{
                color:black;
                opacity: 0.6;
                padding: 16px 0;
               
               
            }
            span{
                color: black;
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
            }
            button{
                padding: 8px 16px;
                margin-top: 16px;
                border-radius: 1px;
                background-color: #000;
                color: white;
                font-size: 15px;
            }
            button:hover{
              background-color: rgb(239, 239, 239); 
            color: black;
            }
        }
    }
    .tuor-item:hover{
        transform: scale(1.1,1.1);
    }
}
.section-content{
    .contatctcontent{
       position: relative;
    .section-contact{
        padding: 32px 0;
        
            .address{
                display: flex;
                padding: 15px 0;
                i{
                    font-size: 30px;
                    color: rgb(14, 12, 12);
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                    padding: 0 16px;
                
                }
            }
            .phone{
                display: flex;
                padding: 15px 0;
                i{
                    font-size: 30px;
                    color: rgb(14, 12, 12);
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                    padding: 0 16px;
                }
            }
            .email{
                display: flex;
                padding: 15px 0;
                i{
                    font-size: 30px;
                    color: rgb(14, 12, 12);
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                    padding: 0 16px;
                }
            }
        }
        .input-contact{
            position: absolute;
            top: 46px;
            left: 360px;
        
           input{
                padding: 8px 16px;
                margin: 8px 8px;
               
            }
           input:nth-child(3)
           {
               width: 406px;
           }
           button{
               padding: 8px 20px;
               margin: 16px 341px;
               background-color: #000;
               color: white;
               text-transform: uppercase;
           }
           button:hover{
               color: black;
               background-color: #c4bebe;
               border: none;
           }
        }
    }
}
.map{
    width: 100%;
    margin-left: 0;
    img{
        width: 100%;
    }
}
}
#footer{
    .icon
    
    {
        padding: 64px 16px;
        margin-left: 50%;
        i{
            font-size: 32px;
            align-items: center;
            color: #9e9898;
            opacity: 1;
        }
        
    }
    p{
        text-transform: uppercase;
        font-style: italic;
        padding: 12px;
        text-align: left;
        font-weight: bold;
        text-align: left
    }
    
}
// Responsive
@media only screen and (max-width:480px) {
    
    #heade{
        background-color:#000;
        
        position: fixed;
        #nav{
            display: none;
        }
        .search{
            display: none;
        }
        .nav-mobile{
            display: block !important;
            position: relative;
            
            >a{
                color: white;
                font-size: 15px;
                text-transform: uppercase;
                padding: 12px 24px;
                line-height: 46px;
                

            }
            i{
                color: white;
                font-size: 25px;
                padding: 12px 24px;
                position: absolute;
                right: 0;
                
            }
            
               .nav-menu{
                display: none;
                background-color: black;
                padding: 0 24px;
                list-style: none;
            
                li{
                    padding: 12px 0;
                    a{
                        color: white;
                        text-transform: uppercase;
                        
                    }
                }
               }
               .show{
                display:block !important;
                margin-top: 1px;
                animation-name: mennu;
                animation-duration: 1s;
                background-color: blanchedalmond;

            }

    }
        
    }
    #silder{
        .content
        {
            display: none;
        }
        
    }
    #content{
        .section-content{
            width: 100%;
            padding: 64px 16px;
            .merber-list{
                display: block;
                margin-top: 0px !important;
                
                .merber-item{
                    float: none !important;
                    margin-left: auto;
                    margin-right: auto;
                    margin: 64px;
                    img{
                        text-align: center;
                    }
        
                }
            }
            .calendar{
                width: 100%;
            }
            .info-tour{
                width: 100%;
                display: block;
                .tuor-item{
                    width: 100%;
                    margin-top: 10px;
                   
                }
            }
            .contatctcontent{
                position:initial;
                .input-contact{
                    position: initial;
                    input{
                        width: 100% !important;
                        margin: px 0;
                    }
                    button{
                        margin-left: 247px;
                    }
                }
            }
        }
    
    .map{
        width: 100%;
    }
   
}
#footer{
    width: 100%;
}
.hover{
    background-color: #9e9898;
}
@keyframes mennu {
    from{transform: translatey(-400px);}
    to{transform: translatey(0px);}
}
}